.holder {
  height: 100vh; }

.card {
  border-radius: 1rem; }

#delete_button {
  color: red;
  cursor: pointer; }

.far {
  cursor: pointer; }

#plus_btn i {
  color: #578957; }

/*# sourceMappingURL=style.css.map */